 <!-- navbar  -->
 <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
      <a href="#" class="navbar-brand">
          <i class="bi bi-book-half"></i>
          Dwight School</a>
  
      <div class="">
          <ul class="navbar-nav ms-auto" >
              <li class="nav-item">
                <a routerLink="/" class="btn btn-success btn-sm">View List</a>
                <a routerLink="/addStudnts" class="btn btn-info btn-sm">ADD</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<!-- navbar  -->
  