 <!-- navbar  -->
 <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
      <a href="#" class="navbar-brand">
          <i class="bi bi-book-half"></i>
          Dwight School</a>
  
      <div class="">
          <ul class="navbar-nav ms-auto" >
              <li class="nav-item">
                <a routerLink="/" class="btn btn-success btn-sm">View List</a>
                <a routerLink="/addStudnts" class="btn btn-info btn-sm">ADD</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<!-- navbar  -->
  <!-- Title section  -->
  <section class="bg-secondary text-dark p-2 text-center text-sm-center">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h2>Students List <span class="text-warning">Dashboard</span> </h2>
                <p class="lead my-4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus dolore
                    vero repellat nobis
                    qui non in nostrum! Quisquam, officiis, dolorem officia nobis dicta deserunt magni omnis itaque
                    voluptas deleniti atque! </p>
                <!-- <a class="btn btn-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#enroll">
                    Add New</a> -->
            </div>
            <img src="../../../../assets/img/1549325432.svg" alt="" class="img-fluid w-25 d-none d-sm-block">
        </div>
    </div>
</section>
<!-- Title section  -->

