
   <!-- footer -->
   <footer class="p-5 bg-dark text-white fixed-bottom">
    <div class="continer">
        <p class="text-center lead">Copyright &copy; 2021 Mohamed Ahmed </p>
        <div class="text-center">
            <a href="#"> <i class="bi bi-linkedin"></i></a>
            <a href="#"> <i class="bi bi-facebook"></i></a>
            <a href="#"> <i class="bi bi-instagram"></i></a>
            <a href="#"> <i class="bi bi-github"></i></a>
            <a href="#"> <i class="bi bi-twitter"></i></a>
        </div>
    </div>
</footer>
<!-- footer -->